<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="utf-8">
        </head>
        <header>
            <h2>Olá <%=user.name %></h2>
            <hr> 
        </header>
        <body>
            <h4>aqui está o seu token para a recuperação da sua de senha</h4>
            <h3> <%=token %> </h3>
        </body>
    </html>